node_modules
.env
.vscode
.DS_Store
webapp-service-account.json
server/stats.json
server/client/stats.json
server/backups
services/ucd-lib-client/client/public/js/*bundle*.js
services/ucd-lib-client/client/public/js/*ie-bundle*.js
loaded-transforms
gitinfo.json
fcrepo-webapp-*-SNAPSHOT*
tests
temp/