/* 
 * CUSTOM CSS PROPERTIES FOR THE UC DAVIS CAMPUS THEME
*/
html {
  /* PRIMARY COLORS */
  --color-aggie-blue        : #002851;
  --color-aggie-blue-80     : #14447A;
  --color-aggie-blue-70     : #13639E;
  --color-aggie-blue-60     : #73ABDD;
  --color-aggie-blue-50     : #B0D0ED;
  --color-aggie-blue-40     : #CCE0F3;
  --color-aggie-blue-30     : #DBEAF7;
  --color-aggie-blue-20     : #EBF3FA;
  --color-aggie-blue-10     : #F7FAFD;
  --color-aggie-gold        : #FFBF00;
  --color-aggie-gold-80     : #FFC519;
  --color-aggie-gold-70     : #FFD24C;
  --color-aggie-gold-60     : #FFDF80;
  --color-aggie-gold-40     : #FDE9AC;
  --color-aggie-gold-30     : #FFF4D2;
  --color-aggie-gold-20     : #FFF9E6;
  --color-aggie-gold-10     : #FFFBED;

  /* SECONDARY COLORS */
  --color-arboretum         : #00C4B3;
  --color-bodega            : #003A5D;
  --color-cabernet          : #481268;
  --color-california        : #8A532F;
  --color-delta             : #00524C;
  --color-double-decker     : #C10230;
  --color-farmers-market    : #AADA91;
  --color-golden-state      : #FFFF3B;
  --color-gunrock           : #0047BA;
  --color-merlot            : #79242F;
  --color-pinot             : #76236C;
  --color-poppy             : #F18A00;
  --color-putah-creek       : #008EAA;
  --color-quad              : #3DAE2B;
  --color-rain              : #03F9E6;
  --color-rec-pool          : #6FCFEB;
  --color-redbud            : #C6007E;
  --color-redwood           : #266041;
  --color-rose              : #FF8189;
  --color-sage              : #6CCA98;
  --color-strawberry        : #F93549;
  --color-sunflower         : #FFDC00;
  --color-tahoe             : #00B2E3;
  --color-thiebaud-icing    : #F09FCD;

  /* BLACK TONES */
  --color-black             : #000000;
  --color-black-90          : #191919;
  --color-black-80          : #333333;
  --color-black-70          : #4C4C4C;
  --color-black-60          : #666666;
  --color-black-50          : #7F7F7F;
  --color-black-40          : #999999;
  --color-black-30          : #B2B2B2;
  --color-black-20          : #CCCCCC;
  --color-black-10          : #E5E5E5;
  --color-white             : #FFFFFF;

  /* DEFAULT ELEMENT COLORS */
  --color-p                 : var(--color-black);
  --color-html              : var(--color-black);
  --color-h1                : var(--color-aggie-blue);
  --color-h2                : var(--color-aggie-blue-70);
  --color-h3                : var(--color-black-60);
  --color-h4                : var(--color-aggie-blue);
  --color-h5                : var(--color-aggie-blue);
  --color-h6                : var(--color-aggie-blue);
  --color-h1-light          : var(--color-white);
  --color-h2-light          : var(--color-white);
  --color-h3-light          : var(--color-white);
  --color-h4-light          : var(--color-white);
  --color-h5-light          : var(--color-white);
  --color-h6-light          : var(--color-white);
  --color-a                 : var(--color-aggie-blue-70);
  --color-a-hover           : var(--color-tahoe);
  --color-a-active          : #035369; /* Wrong in the spec? */
  --color-a-visited         : var(--color-pinot);
  --color-a-focus           : var(--color-tahoe);

  /* COLOR GRADIENTS */
  --gradient-ag-putah       : linear-gradient(0deg, rgba(111,207,235,0.8), rgba(2, 40, 81, 0.8) 100%);

  /* FONT SIZES */
  --fs-p                    : 19px;
  --fs-html                 : var(--fs-p);
  --fs-h1                   : 2.94rem;
  --fs-h2                   : 2.47rem;
  --fs-h3                   : 2.05rem;
  --fs-h4                   : 1.68rem;
  --fs-h5                   : 1.42rem;
  --fs-h6                   : 1.15rem;
  --fs-small                : 14px;

  /* FONT WEIGHTS */
  --fw-regular              : 400;
  --fw-bold                 : 700;
  --fw-extra-bold           : 800;
  --fw-p                    : var(--fw-extra-regular);
  --fw-html                 : var(--fw-extra-regular);
  --fw-h1                   : var(--fw-extra-bold);
  --fw-h2                   : var(--fw-extra-bold);
  --fw-h3                   : var(--fw-extra-bold);
  --fw-h4                   : var(--fw-extra-bold);
  --fw-h5                   : var(--fw-extra-bold);
  --fw-h6                   : var(--fw-extra-bold);

  /* LINE HEIGHT */
  --lh-p                    : 1.6;
  --lh-html                 : var(--lh-p);
  --lh-h1                   : 1.25;
  --lh-h2                   : 1.25;
  --lh-h3                   : 1.25;
  --lh-h4                   : 1.25;
  --lh-h5                   : 1.25;
  --lh-h6                   : 1.25;

  /* SPACING */
  --spacing-default         : 19px;
  --spacing-html            : var(--spacing-default);
  --spacing-flush           : 0px;
  --spacing-half            : .5rem;
  --spacing-sm              : 2rem;
  --spacing-md              : 4rem;
  --spacing-lg              : 6rem;
}