/* 
 * STYLES FOR THE UC DAVIS CAMPUS THEME
 * DEPENDENT ON FELLOW CSS CUSTOM PROPERTIES FILE
*/
body, html {
  font-family      : proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size        : var(--fs-html);
  font-weight      : var(--fw-html);
  line-height      : var(--lh-html);
  margin           : 0;
  padding          : 0;
  background-color : var(--color-white);
  color            : var(--color-html);
  max-width        : 100vw;
}

/* BASIC TYPOGRAPHY */
p, .p {
  font-size: var(--fs-p);
  font-weight: var(--fw-p);
  line-height: var(--lh-p);
  color: var(--color-p);
}

/* HEADINGS */
h1, .h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-h1);
  color: var(--color-h1);
  line-height: var(--lh-h1);
}
h2, .h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-h2);
  color: var(--color-h2);
  line-height: var(--lh-h2);
}
h3, .h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-h3);
  color: var(--color-h3);
  line-height: var(--lh-h3);
}
h4, .h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-h4);
  color: var(--color-h4);
  line-height: var(--lh-h4);
}
h5, .h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-h5);
  color: var(--color-h5);
  line-height: var(--lh-h5);
}
h6, .h6 {
  font-size: var(--fs-h6);
  font-weight: var(--fw-h6);
  color: var(--color-h6);
  line-height: var(--lh-h6);
}
h1.color-light, .h1.color-light {
  color: var(--color-h1-light);
}
h2.color-light, .h2.color-light {
  color: var(--color-h2-light);
}
h3.color-light, .h3.color-light {
  color: var(--color-h3-light);
}
h4.color-light, .h4.color-light {
  color: var(--color-h4-light);
}
h5.color-light, .h5.color-light {
  color: var(--color-h5-light);
}
h6.color-light, .h6.color-light {
  color: var(--color-h6-light);
}

/* LINKS */
a {
  color: var(--color-a);
}
a:visited {
  color: var(--color-a-visited);
}
a:hover {
  color: var(--color-a-hover);
}
a:active {
  color: var(--color-a-active);
}
a:focus {
  color: var(--color-a-focus);
}
h1 > a, .h1 > a, 
h2 > a, .h2 > a, 
h3 > a, .h3 > a, 
h4 > a, .h4 > a, 
h5 > a, .h5 > a, 
h6 > a, .h6 > a {
  text-decoration: underline;
  color: inherit;
}
h1 > a:hover, .h1 > a:hover,
h2 > a:hover, .h2 > a:hover,
h3 > a:hover, .h3 > a:hover,
h4 > a:hover, .h4 > a:hover,
h5 > a:hover, .h5 > a:hover,
h6 > a:hover, .h6 > a:hover {
  text-decoration: none;
  color: inherit;
}
h1 > a:active, .h1 > a:active,
h2 > a:active, .h2 > a:active,
h3 > a:active, .h3 > a:active,
h4 > a:active, .h4 > a:active,
h5 > a:active, .h5 > a:active,
h6 > a:active, .h6 > a:active {
  text-decoration: none;
  color: inherit;
}
h1 > a:focus, .h1 > a:focus,
h2 > a:focus, .h2 > a:focus,
h3 > a:focus, .h3 > a:focus,
h4 > a:focus, .h4 > a:focus,
h5 > a:focus, .h5 > a:focus,
h6 > a:focus, .h6 > a:focus {
  text-decoration: none;
  color: inherit;
}
h1 > a:visited, .h1 > a:visited,
h2 > a:visited, .h2 > a:visited,
h3 > a:visited, .h3 > a:visited,
h4 > a:visited, .h4 > a:visited,
h5 > a:visited, .h5 > a:visited,
h6 > a:visited, .h6 > a:visited {
  text-decoration: underline;
}

/* */
[hidden] {
  display: none !important;
}